---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";


/*
 *   Add custom adjustments
*/

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /* Default width for mobile */
  max-width: 300px;
}

/* For tablets and small desktops */
@media screen and (min-width: 768px) {
  .image-center {
    width: 50%;
    max-width: 300px;
  }
}

/* For larger desktops */
@media screen and (min-width: 1024px) {
  .image-center {
    width: 40%;
    max-width: 400px;
  }
}

/* For phones in landscape mode */
@media screen and (max-width: 896px) and (orientation: landscape) {
  .image-center {
    width: 40%;
    max-width: 300px;
  }
}

.author__avatar {
  display: none !important;
}

.author__content {
  margin-left: 0;
  padding-left: 0;
}

.sidebar .author__name {
  margin-top: 0;
}
